body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 10px;
}

h2 {
  margin-top: 30px;
}

p {
  line-height: 1.6;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.bordered {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.toc-link {
  color: #333;
}

.toc-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.note {
  font-size: 14px;
  color: #888;
}

.cpw{
   text-align: center;
   font-size: 8px;

}
.title{
  background-color: #354152; /* Dark blue-grey color */
  color: #fff; /* Text color for dark background */
}