/* styles.css */

/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 20px);
  width: 500px; /* Adjust the width as needed */
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5);
  gap: 1px; 
  position: relative;
}

#grid-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
  opacity: 0.5;
  z-index: 1;
}

.button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 80%);
  opacity: 0.5;
}

.grid-cell {
  width: 30px;
  height: 20px;
  border: 1px;
  border-top-width: 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.mode-active {

  background-color: green !important;
}

.grid-cell:nth-child(16n + 1),
.grid-cell:nth-child(16n + 9) {
  background-color: #354152; /* Darkest color for columns 1 and 9 */
  color: #fff; /* Set text color to white for dark cells */
}

.grid-cell:nth-child(16n + 5),
.grid-cell:nth-child(16n + 13) {
  background-color: #53627c; /* Second darkest color for columns 5 and 13 */
  color: #fff; /* Set text color to white for dark cells */
}

.grid-cell:nth-child(16n + 3),
.grid-cell:nth-child(16n + 7),
.grid-cell:nth-child(16n + 11),
.grid-cell:nth-child(16n + 15) {
  background-color: #8699b1; /* Lightest color for columns 3, 7, 11, and 15 */
}

/* ... (rest of the CSS styles) ... */

/* ... (column coloring styles) ... */

.label{
   font-size: 10px;

}
.light{
   width: 8px;
   height: 8px;
   background-color: #00563F;
   border-radius: 50%;
}

#title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Add some space between the title image and the grid */
}

#title-image {
  width: 250px;
  height: auto;
}

.container {
  position: relative;
  display: flex;
  background-color: #222;
  width: 500px;
  gap: 3px;
  box-shadow: -3px 3px 1px rgba(0, 0, 0, 0.5);
padding: 3px;
}
  
.sub-container{
   layout:grid;
}

#mode-container{
   grid-template-columns: repeat(3, 30px);
   gap: 1px;
}
.mode-cell{
   display:flex;
}
.button {
  width: 50px;
  font-size: 12px;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  position: relative;
  box-shadow: -3px 3px 1px black;
  text-shadow: +1px -1px 0px black;
  text-align: center;
  border-radius: 3px;
}

.button:hover {
  background-color: #666;
}

.stepPlaying{
  background-color: #666 !important;
  font-size: 14px !important;
}

.isCandidate {
  background-color: #666 !important;
}

#bpm-slider {
  width: 80%;
}

.lcd-container{
  text-align: center;
  display: flex;
  box-shadow: -3px 3px 1px black;
  gap: 3px;
  border-radius: 3px;
}

.lcd-display-container{
  display: flex;
  flex-direction: column;
}

.lcd-display {
  font-family: 'Digital-7', sans-serif; /* Use a digital font for the LCD screen effect */
  border: none;
  background-color: #D3D3D3;
  width: 50px;
  cursor: pointer;
  font-size: 24px;
  color: #789F8A;
  box-shadow: 3px -3px 1px black;
  padding: 3px;
}

.lcd-button-container {
  display: flex;
  flex-direction: column;
}

.up-btn,
.down-btn {
  font-size: 12px;
  cursor: pointer;
  height: 18px;
  width: 18px;
  border-radius: 0px;
}
